@font-face {
    font-family: 'ITC';
    src: url('assets/fonts/itczapfbookmedium.otf') format('otf');
    font-style: normal;
}

@font-face {
    font-family: 'madetommy';
    src: url('assets/fonts/madetommylight.otf') format('otf');
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E1CAC2;
    color: #261310;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1em;
    padding: 2em;
}

.apresentacao h1 {
    font-family: 'ITC';
    text-transform: uppercase;
    font-size: 40pt;
    font-weight: bold;
}

.apresentacao h2 {
    font-family: 'madetommy';
    text-transform: uppercase;
    font-size: 22pt;
}

.carousel {
    height: 22vh;
    width: 100%;
}

.pics {
    display: block;
    background-color: white;
    height: 22vh;
    width: 100%;
    border-radius: 50px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5em;
    row-gap: 2em;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-container p {
    font-size: 26pt;
    font-family: 'madetommy';
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 160px;
    width: 180px;
    padding: 2em;
    background-color: #D1B29D;
    color: #261310;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.descrição {
    width: 220px;
    text-align: center;
}

.presente {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.300);
}

.modal-presente {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 25vh;
    width: 38vh;
    background-color: #D1B29D;
    border-radius: 50px;
    padding: 2em;
}

.modal-presente img {
    height: 250px;
}

.modal-presente p {
    font-family: 'ITC';
    text-transform: uppercase;
    font-size: 40pt;
    font-weight: bold;
}

.resgatar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -70px;
    height: 100px;
    width: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #1AC920;
    color: white;
    text-transform: uppercase;
    font-size: 40pt;
    font-weight: bold;
    position: absolute;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.resgatar a {
    text-decoration: none;
    color: white    ;
}

.fechar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-size: 50pt;
    font-weight: bold;
    position: absolute;
    right: -20px;
    top: -20px;
    height: 100px;
    width: 100px;
    background-color: #FF1A1A;
    border-radius: 100px;
}

.confete {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("./assets/others/sparkles.gif");

}
